#create-form-wrapper {
    height: calc(100vh - 55px);
    .create-section-left{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        background: rgb(65,42,157);
        background: linear-gradient(0deg, rgba(65,42,157,1) 15%, rgba(208,35,119,1) 80%);
        border-right: 3px solid #ff385c;
    }
    .form {
        display: flex;
        align-items: center;
    }
}