.bord-red {
    border-bottom: 2px solid #ff385c;
}

.imageedit {
    margin-top: 10px;
    height: 150px;
    width: 300px;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}