.container-fluid {
    .header-container {
        h2 {
            padding:20px ;
        }

        .flex {
            display: flex;
            justify-content: end;
            button {
                width:200px;
            }
        }
    }
    .butt {
        color: #ff385c;
        border-radius: 10px;
        &:hover {
            background-color: rgb(192, 192, 192);
        }
    }
    .btn-create {
        color: #ff385c;
        text-decoration: none;
    }

    .row{
        .card{
            border-radius: 30px;
            // border: rgb(143, 143, 143) 1px solid;
            height: 100%;
            overflow: hidden;
            .card-footer {
                background-color: white;
            }
        }
    }
    .apartment-preview{
        span {
            color: #ff385c;
            padding-left: 8px;
            font-weight: bold;
        }
    }
}

