// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
//@import'~@fortawesome/fontawesome-free/css/all.css';

//Login
@import './auth/login';

//Registrer
@import './auth/registrer';

//Apartments index
@import './apartments/index';

// Apartments create
@import './apartments/create';

// Apartments edit
@import './apartments/edit';

// Apartments show
@import './apartments/show';

// Dashboard
@import './admin/dashboard.scss';

// Inbox
@import './admin/inbox.scss';

// Suggested address section
#suggestedAddresses{
    width: 30%;
    margin-top: 8px;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    position: absolute;
    box-shadow: $box-shadow-lg;
    >div{
        padding: 8px 10px;
        cursor: pointer;
        &:hover {
            background: #ccc;
        }
    }
}
