.box-shadow {
    box-shadow: 10px 10px 5px rgb(206, 206, 206);
    border-radius: 10px;
}

.color {
    color: #ff385c;
}

.over {
    overflow: hidden;
    padding-left: 20px;
}

.btn-bnb {
    background-color: #ff385c;
    color: white;
}

.forgot {
    text-decoration: none;
    color: black;
}

